openapi: 3.0.0
info:
  contact: {}
  description: "The FastSpring API and its supported requests, data, endpoints, and\
    \ rate limits.\n\nThe FastSpring API is a backend service you can use to communicate\
    \ with your FastSpring Store programmatically. It requires basic understanding\
    \ of HTTP communication methods. The primary API communication methods include:\n\
    - **GET** - request data from your store\n- **POST** - send data to your store,\
    \ such as creating a new product record\n- **DELETE** - remove data from your\
    \ store\n\nThe structure of the JSON data sent and received using the API is very\
    \ similar to Webhooks. However, using the FastSpring API, you initiate all communication\
    \ with your FastSpring Store.\n\nIf you prefer a client-side method of communicating\
    \ with your FastSpring Store and generating dynamic webpage content, check out\
    \ the [Store Builder Library](https://fastspring.com/docs/get-started-with-store-builder-library/).\n\
    \n## Access the API\n\n#### API Credentials and Authentication\n\nFastSpring API\
    \ credentials consist of a single username and password for your entire Store.\
    \ The username and password are used for [Basic Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)\
    \ when making requests to the API.\n\n#### Obtain Your API Credentials\n\n1. Log\
    \ on to the FastSpring App and navigate to [Integrations](https://fastspring.com/docs/integrations)\
    \ > **API Credentials**. Initially, the only option on this page is the **Create**\
    \ command.\n\n2. Click **Create** to generate your API **Username** and **Password**.\
    \ The page automatically refreshes, and then your credentials are displayed.\n\
    \n3. Make a note of the credentials and store them securely.\n\nThe API credentials\
    \ allow complete access and control over your FastSpring Store. You will not be\
    \ able to view the password in the FastSpring App after this session. If you forget\
    \ your API credentials, you can reset them, however any of your stored procedures\
    \ that rely on API access must be updated immediately with the new credentials.\
    \ Otherwise, the API requests will fail.\n\n## API Requests\n\n**Make all requests\
    \ to https://api.fastspring.com**\n\nWhen you make your requests, consider the\
    \ following:\n- Ensure that the HTTP methods for all calls use uppercase letters\
    \ (“GET,” “POST,” “DELETE”) Lowercase letters may result in a 404 error response.\n\
    - FastSpring requires TLS 1.2 (or later) encryption for all calls to the FastSpring\
    \ API. \n- The API requires a **User-Agent** header in all requests. If your request\
    \ does not include it, you may receive an 401 error message when attempting to\
    \ make API requests.\n- The API uses basic authentication and does not support\
    \ URL-encoded authentication. Use **Base64** to encode your username and password\
    \ in the header.\n"
  title: FastSpring API
  version: "1.0"
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.fastspring.com
security:
- auth: []
tags:
- description: Use the /products endpoint to create or update products.
  name: Products
- description: |
    Use the /subscriptions endpoint to retrieve complete details of one or more specific subscription instances.
  name: Subscriptions
- description: |
    This article provides information about the /orders endpoint of the FastSpring API.

    Use the **/orders** API endpoint to retrieve information about a single order or retrieve a list of multiple orders matching a set of criteria.

    You can retrieve orders by order ID, product path, or date range. You can optionally combine parameters in your request, for example, retrieving all orders for a particular product that occurred in a given date range.

    When retrieving multiple orders, the API paginates the response with a limit of 50 records per page by default. To assist with paging through the results, you can optionally specify a custom limit to the number of records per page, and the desired **page** number in your request.
  name: Orders
- description: "This article provides information about the /coupons endpoint of the\
    \ FastSpring API. \n\nUse this endpoint to create, update, delete, and get coupons.\n"
  name: Quotes
- description: "Use the /data/v1/ to generate sync or async reports based on the flag\
    \ \"async\". Also available to download and verify job status.\n\n### To take\
    \ into account in the requests to generate the reports:\nIf **async** flag is\
    \ not specified in the request, the report will be generated as async = false\
    \ as long as days between startDate and endDate are not greater than 90.\n\nIf\
    \ **pageCount** is not specified in the request, it will take 1000 as default.\
    \ pageCount and pageNumber are used only when \"async\": false\n\n- **filter.startDate**\
    \ - Only return results after this date\n\n- **filter.endDate** - Only return\
    \ results before this date\n\n- **filter.productNames** - Optional. Only return\
    \ items with these product names\n\n- **filter.productPaths** - Optional. Only\
    \ return items with these product paths\n\n- **filter.countryISO** - Optional.\
    \ Only return items with these country ISO\n\n- **filter.segments** - Optional.\
    \ Only return items with these segments\n\n- **filter.syncDate** - Optional. Only\
    \ return updated items before this date\n\n- **groupBy** - Optional. Aggregate\
    \ results by these columns. If no groupBy is included this returns raw data. If\
    \ the reportColumns filter is used a non-numerical column when using the groupBy\
    \ filter, it will be automatically used in the groupBy even if that column is\
    \ not in the groupBy filter.\n\n- **pageCount** - Optional. The max number of\
    \ records to return per page. Max value is 1k when async = false. \n\n- **pageNumber**\
    \ - Optional. 0 based page number.\n\n- **async** - Optional. Flag to define if\
    \ the report will be generated asynchronous or not.\n\n- **reportColumns** - Optional.\
    \ List of columns to include in the report.  Excluding this will return all columns\
    \ without using groupBy filter. If the groupBy filter is used, the data service\
    \ will just return columns used in the groupBy and the requested in reportColumns\
    \ filter as well.\n\n- **notificationEmails** - Optional. List of emails to notify\
    \ when report is generated by using the flag async = true. \n"
  name: Data
- description: |
    Use the **/accounts** endpoint of the FastSpring API to create, update, or get information on FastSpring customer accounts created by you or created automatically by FastSpring when a new customer places an order.
  name: Accounts
- description: |
    Use the /coupons endpoint to create, update, delete and get coupons to offer promotional product discounts.
  name: Coupons
- description: "Use the /events endpoint to retrieve the payloads for passed webhook\
    \ events. Events are either processed or unprocessed, depending on whether the\
    \ webhook endpoint has acknowledged the handling of the event. \n"
  name: Events
- description: "Use the /returns endpoint to retrieve return details or create full\
    \ order returns. \n"
  name: Returns
- description: |
    A session may contain discounts, price overrides, custom tags, and more. When you create a session via the [FastSpring API](https://fastspring.com/docs/fastspring-api), the response from the API includes the session ID, which you can use to collect payment. A customer cannot change the details of the session. A successful payment via the session creates an order record.

    ### Session Behavior

    - **Expiration:** Sessions created via the /sessions endpoint are valid for 24 hours by default and up to 7 days if specified. Use "expiration" with a value between 1 and 7 to represents the number of days to remain valid.

    - **Customer Accounts:** Posts to the /sessions endpoint require an existing customer account. If your customer has purchased from you previously and you have obtained the customer's FastSpring-generated account ID, you can pass that into the POST. Otherwise, you need to pre-create an account with the customer's name and email address via the API. See [/accounts](https://fastspring.com/docs/accounts).

    - **Products Allowed:** Each session or order can only contain a single occurrence of any given product or its [product variations](https://fastspring.com/docs/product-variations). If you include more than one variation of the same product in a single session, it will result in an error 400 with the message "Item exists."

    - **Session Object:** The recipient object used with the [Store Builder Library session object](https://fastspring.com/docs/access-the-library-with-javascript/#AccessingtheLibraryfromJavascript-sessionUnderstandingtheSessionObject)  and fastspring.builder.recognizeRecipients() method is not currently supported via the /sessions API endpoint. It is not possible to pre-fill [gift recipient](https://fastspring.com/docs/gift-purchases/) information via the /sessions endpoint.

    - **Customer Country:** The account country is required for certain non-credit card payment methods so be sure the customer account includes the customer's country. Transactions based on sessions could fail if the country is not included in the customer's account.

    An example to use the /sessions API endpoint is to provide customers with an option to pay what you want. Design your website to accept price data from your customers and use the /sessions endpoint to create a session that overrides the default prices. Alternatively, you can do this using a [secure request](https://fastspring.com/docs/passing-sensitive-data-with-secure-requests) via the [Store Builder Library](https://fastspring.com/docs/get-started-with-store-builder-library/). Read more about the [Order Flow](https://fastspring.com/docs/Order-Flow).
  name: Sessions
- name: Webhooks
paths:
  /accounts/{account_id}:
    get:
      deprecated: false
      operationId: Accounts_getAccountById
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOneAccount'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOneAccountError'
          description: ""
          x-do-not-generate: true
      summary: Get an account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-account_id
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Accounts_updateAccountById
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountError'
          description: ""
          x-do-not-generate: true
      summary: Update account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-account_id
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/authenticate:
    get:
      deprecated: false
      operationId: Accounts_getAuthenticatedManagementUrl
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateAccount'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateAccountError'
          description: ""
          x-do-not-generate: true
      summary: Get authenticated account management URL
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-account_id-authenticate
      x-accepts: application/json
  /accounts:
    get:
      deprecated: false
      description: "If no parameters are sent, the operation will return a list of\
        \ accountIDs."
      operationId: Accounts_getByParameter
      parameters:
      - description: Account email
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Account custom key
        explode: true
        in: query
        name: custom
        required: false
        schema:
          type: string
        style: form
      - description: Account global key
        explode: true
        in: query
        name: global
        required: false
        schema:
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderID
        required: false
        schema:
          type: string
        style: form
      - description: Order Reference
        explode: true
        in: query
        name: orderReference
        required: false
        schema:
          type: string
        style: form
      - description: Subscription ID
        explode: true
        in: query
        name: subscriptionId
        required: false
        schema:
          type: string
        style: form
      - description: Product ID
        explode: true
        in: query
        name: products
        required: false
        schema:
          type: string
        style: form
      - description: "\"active\", \"ended\", \"canceled\", \"started\" will return\
          \ accounts with subscriptions in the corresponding state"
        explode: true
        in: query
        name: subscriptions
        required: false
        schema:
          type: string
        style: form
      - description: "true"
        explode: true
        in: query
        name: refunds
        required: false
        schema:
          type: string
        style: form
      - description: "integer value indicating the maximum number of records to be\
          \ returned Or, when used together with page, the maximum number of records\
          \ to be returned per page"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Integer value that must be used in conjunction with limit to
          specify which page of results should be returned
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetByParameterResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookUpAccountError'
          description: ""
          x-do-not-generate: true
      summary: Get all accounts or Search for accounts by parameter
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Accounts_createNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneAccount'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountError'
          description: ""
          x-do-not-generate: true
      summary: Create an account
      tags:
      - Accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts
      x-content-type: application/json
      x-accepts: application/json
  /coupons:
    post:
      deprecated: false
      operationId: Coupons_createNewCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateanewcouponRequest'
        required: true
      responses:
        "200":
          description: ""
      summary: Create a coupon
      tags:
      - Coupons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--coupons
      x-content-type: application/json
      x-accepts: application/json
  /coupons/{coupon_id}:
    get:
      deprecated: false
      operationId: Coupons_getDetails
      parameters:
      - description: Coupon Id
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCouponsDetailsResponse'
          description: ""
      summary: Retrieve coupon details
      tags:
      - Coupons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--coupons-coupon_id
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Coupons_assignCodesToCoupon
      parameters:
      - description: Coupon Id
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddcouponcodestoacouponRequest'
        required: true
      responses:
        "200":
          description: ""
      summary: Assign codes to a coupon
      tags:
      - Coupons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--coupons-coupon_id
      x-content-type: application/json
      x-accepts: application/json
  /coupons/{coupon_id}/codes:
    delete:
      deprecated: false
      operationId: Coupons_deleteAssociatedCodes
      parameters:
      - description: Coupon Id
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Delete all codes associated with a coupon
      tags:
      - Coupons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--coupons-coupon_id-codes
      x-accepts: application/json
    get:
      deprecated: false
      operationId: Coupons_getCodesAssignedToCoupon
      parameters:
      - description: Coupon Id
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCouponCodesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCouponCodesResponse'
          description: ""
      summary: Get coupon codes assigned to a coupon
      tags:
      - Coupons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--coupons-coupon_id-codes
      x-content-type: application/json
      x-accepts: application/json
  /events/processed:
    get:
      deprecated: false
      operationId: Events_getProcessedEvents
      parameters:
      - description: ""
        explode: true
        in: query
        name: days
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Get processed events
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events-processed
      x-accepts: application/json
  /events/unprocessed:
    get:
      deprecated: false
      operationId: Events_getUnprocessedEvents
      parameters:
      - description: ""
        explode: true
        in: query
        name: begin
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Get unprocessed events
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--events-unprocessed
      x-accepts: application/json
  /events/{event_id}:
    post:
      deprecated: false
      operationId: Events_updateEventById
      parameters:
      - description: Event Id
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateasingleeventRequest'
        required: true
      responses:
        "200":
          description: ""
      summary: Update an event
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--events-event_id
      x-content-type: application/json
      x-accepts: application/json
  /orders/{order_id}:
    get:
      deprecated: false
      operationId: Orders_getById
      parameters:
      - description: Order Id
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersById'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByIdError'
          description: Bad request
          x-do-not-generate: true
      summary: Get orders by ID
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders-order_id
      x-accepts: application/json
  /orders?products={product_path}&limit={limit}&page={page}:
    get:
      deprecated: false
      operationId: Orders_getByProductPath
      parameters:
      - description: Product path
        explode: false
        in: path
        name: product_path
        required: true
        schema:
          type: string
        style: simple
      - description: integer limits the number of order records returned per page
          (default is 50 records)
        explode: false
        in: path
        name: limit
        required: true
        schema:
          type: number
        style: simple
      - description: specifies page number of results to be returned; used together
          with limit to control pagination
        explode: false
        in: path
        name: page
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByProductPath'
          description: ""
      summary: Get orders by product path
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders?products=product_path&limit=limit&page=page
      x-accepts: application/json
  /orders?begin={begin_date}&end={end_date}&limit={limit}&page={page}:
    get:
      deprecated: false
      operationId: Orders_getByDateRange
      parameters:
      - description: "filters results to include transactions after the specified\
          \ begin date (must be at least one day before the specified end date), the\
          \ format must be MM/DD/YY"
        explode: false
        in: path
        name: begin_date
        required: true
        schema:
          type: string
        style: simple
      - description: "filters results to include transactions before the specified\
          \ end date, the format must be MM/DD/YY"
        explode: false
        in: path
        name: end_date
        required: true
        schema:
          type: string
        style: simple
      - description: integer limits the number of order records returned per page
          (default is 50 records)
        explode: false
        in: path
        name: limit
        required: true
        schema:
          type: number
        style: simple
      - description: specifies page number of results to be returned; used together
          with limit to control pagination
        explode: false
        in: path
        name: page
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByDates'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByDatesError'
          description: ""
          x-do-not-generate: true
      summary: Get orders by date range
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders?begin=begin_date&end=end_date&limit=limit&page=page
      x-accepts: application/json
  /orders?products={product_path}&begin={begin_date}&end={end_date}:
    get:
      deprecated: false
      operationId: Orders_getByProductPathAndDateRange
      parameters:
      - description: Product path
        explode: false
        in: path
        name: product_path
        required: true
        schema:
          type: string
        style: simple
      - description: "filters results to include transactions after the specified\
          \ begin date (must be at least one day before the specified end date), the\
          \ format must be yyyy-mm-dd"
        explode: false
        in: path
        name: begin_date
        required: true
        schema:
          type: string
        style: simple
      - description: "filters results to include transactions before the specified\
          \ end date, the format must be yyyy-mm-dd"
        explode: false
        in: path
        name: end_date
        required: true
        schema:
          type: string
        style: simple
      - description: integer limits the number of order records returned per page
          (default is 50 records)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: specifies page number of results to be returned; used together
          with limit to control pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByProductPathDates'
          description: ""
      summary: Get orders by product path AND date range
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders?products=product_path&begin=begin_date&end=end_date
      x-accepts: application/json
  /orders?end={end_date}:
    get:
      deprecated: false
      operationId: Orders_getByEndDate
      parameters:
      - description: "filters results to include transactions before the specified\
          \ end date, the format must be MM/DD/YY"
        explode: false
        in: path
        name: end_date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByEndDate'
          description: ""
      summary: Get orders by end date
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders?end=end_date
      x-accepts: application/json
  /orders?begin={begin_date}&end={end_date}&returns={return}:
    get:
      deprecated: false
      operationId: Orders_getOrdersWithReturns
      parameters:
      - description: "filters results to include transactions after the specified\
          \ begin date (must be at least one day before the specified end date), the\
          \ format must be MM/DD/YY"
        explode: false
        in: path
        name: begin_date
        required: true
        schema:
          type: string
        style: simple
      - description: "filters results to include transactions before the specified\
          \ end date, the format must be MM/DD/YY"
        explode: false
        in: path
        name: end_date
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: return
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersWithReturnOnly'
          description: ""
      summary: Get orders with returns only
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders?begin=begin_date&end=end_date&returns=return
      x-accepts: application/json
  /orders:
    post:
      deprecated: false
      operationId: Orders_updateTagsAndAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderTags'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateTagsAndAttributesResponse'
          description: ""
      summary: Update order tags and attributes
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--orders
      x-content-type: application/json
      x-accepts: application/json
  /products/{product_path}:
    get:
      deprecated: false
      operationId: Products_getByProductPath
      parameters:
      - description: Product path
        explode: false
        in: path
        name: product_path
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsByPth'
          description: Successful operation
      summary: Get products by path
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-product_path
      x-accepts: application/json
  /products:
    get:
      deprecated: false
      operationId: Products_getAllProductIds
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProducts'
          description: ""
      summary: Get all product IDs
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Products_createAndUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateoneormorenewproductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsCreateAndUpdateResponse'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductsResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductsResponseError'
          description: ""
          x-do-not-generate: true
      summary: Create and update products
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--products
      x-content-type: application/json
      x-accepts: application/json
  /products/offers/{product_path}:
    get:
      deprecated: false
      operationId: Products_getAllOffersByType
      parameters:
      - description: Product path
        explode: false
        in: path
        name: product_path
        required: true
        schema:
          type: string
        style: simple
      - description: Offer Type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllOffersforProductByOfferTypeSuccessResponse'
          description: ""
      summary: Get all offers for a product by offer type
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-offers-product_path
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Products_createOrUpdateOffers
      parameters:
      - description: Product path
        explode: false
        in: path
        name: product_path
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateorupdateProductOffersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsCreateOrUpdateOffersResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateorupdateProductOffersError'
          description: ""
          x-do-not-generate: true
      summary: Create or Update Product offers
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--products-offers-product_path
      x-content-type: application/json
      x-accepts: application/json
  /products/price:
    get:
      deprecated: false
      operationId: Products_getAllProductPrices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
          description: ""
      summary: Get all product prices
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price
      x-accepts: application/json
  /products/price/{id}:
    get:
      deprecated: false
      operationId: Products_getPriceById
      parameters:
      - description: Product Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
          description: ""
      summary: Get a product price
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price-id
      x-accepts: application/json
  /products/price?country={country}:
    get:
      deprecated: false
      operationId: Products_getAllProductPricesByCountry
      parameters:
      - description: Country code
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
          description: ""
      summary: Get all product prices in specified country
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price?country=country
      x-accepts: application/json
  /products/price?country={country}&currency={currency}:
    get:
      deprecated: false
      operationId: Products_getAllProductPricesByCountryAndCurrency
      parameters:
      - description: Country code
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      - description: Currency code
        explode: false
        in: path
        name: currency
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
          description: ""
      summary: Get all product prices in specified country and currency
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price?country=country&currency=currency
      x-accepts: application/json
  /products/price/{id}?country={country}&currency={currency}:
    get:
      deprecated: false
      operationId: Products_getProductPriceByCountryAndCurrency
      parameters:
      - description: Product Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Country code
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      - description: currency code
        explode: false
        in: path
        name: currency
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
          description: ""
      summary: Get a product price in a specified country and currency
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price-id?country=country&currency=currency
      x-accepts: application/json
  /products/price/{id}?country={country}:
    get:
      deprecated: false
      operationId: Products_getProductPriceByCountry
      parameters:
      - description: Product Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: country code
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
          description: ""
      summary: Get a product price in a specified country
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-price-id?country=country
      x-accepts: application/json
  /products/{id}:
    delete:
      deprecated: false
      operationId: Products_deleteProductById
      parameters:
      - description: Product Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductsResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductsResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Delete products
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--products-id
      x-accepts: application/json
  /returns/{id}:
    get:
      deprecated: false
      operationId: Returns_getById
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnsResponse'
          description: ""
      summary: Get returns
      tags:
      - Returns
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--returns-id
      x-accepts: application/json
  /returns:
    post:
      deprecated: false
      operationId: Returns_createNewReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReturnsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostReturnsResponse'
          description: ""
      summary: Create returns
      tags:
      - Returns
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--returns
      x-content-type: application/json
      x-accepts: application/json
  /sessions:
    post:
      deprecated: false
      operationId: Sessions_createNewSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateasessionwithoutoverridinganydefaultvaluesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSessionsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSessionsResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Create a session
      tags:
      - Sessions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--sessions
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions:
    get:
      deprecated: false
      operationId: Subscriptions_getAllSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSubscriptionsInstancesResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Get all subscriptions
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--subscriptions
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Subscriptions_updateSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangetheproductforanactivesubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeProductResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeProductResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Update a subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/estimate:
    post:
      deprecated: false
      operationId: Subscriptions_previewPlanChange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateSubscriptionSuccessResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateSubscriptionErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Preview a proposed prorated plan change
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-estimate
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{subscription_id}:
    delete:
      deprecated: false
      operationId: Subscriptions_cancelSubscriptionById
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSubscriptionResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCancelErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Cancel a subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--subscriptions-subscription_id
      x-accepts: application/json
    get:
      deprecated: false
      operationId: Subscriptions_getById
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      - description: specify a specific customer account whose subscriptions you want
          to retrieve
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: specify the beginning of a date range in yyyy-mm-dd-format
        explode: true
        in: query
        name: begin
        required: false
        schema:
          type: string
        style: form
      - description: specify the end of a date range in yyyy-mm-dd format
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: "In each event, use begin and end to retrieve the corresponding\
          \ subscriptions"
        explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      - description: enter one or more product ids to filter the response to include
          only subscriptions for the specified products; use commas to separate multiple
          values
        explode: true
        in: query
        name: products
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetASubscriptionResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Get a subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--subscriptions-subscription_id
      x-accepts: application/json
    post:
      deprecated: false
      operationId: Subscriptions_resumeSubscription
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UncancelasubscriptionpriortodeactivationRequest'
        required: true
      responses:
        "200":
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Resume a canceled subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-subscription_id
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{subscription_id}/entries:
    get:
      deprecated: false
      operationId: Subscriptions_getEntries
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Get subscription entries
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--subscriptions-subscription_id-entries
      x-accepts: application/json
  /subscriptions/charge:
    post:
      deprecated: false
      operationId: Subscriptions_rebillManagedSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubscriptionResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChargeErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Rebill a managed subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-charge
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{subscription_id}/pause:
    post:
      deprecated: false
      operationId: Subscriptions_pauseSubscription
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PauseSubscriptionResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PauseSubscriptionErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Pause a subscription
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-subscription_id-pause
      x-content-type: application/json
      x-accepts: application/json
  /subscriptions/{subscription_id}/resume:
    post:
      deprecated: false
      operationId: Subscriptions_removeScheduledPause
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetASubscriptionResponse'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeSubscriptionErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Remove a scheduled pause
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-subscription_id-resume
      x-accepts: application/json
  /subscriptions/{subscription_id}/convert:
    post:
      deprecated: false
      operationId: Subscriptions_convertExpiredTrialWithoutPaymentMethod
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertExpiredTrialWithoutPaymentMethodResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertExpiredTrialWithoutPaymentMethodErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Convert an Expired Trial Subscription without a Payment Method
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--subscriptions-subscription_id-convert
      x-accepts: application/json
  /subscriptions/{subscription_id}/history:
    get:
      deprecated: false
      operationId: Subscriptions_getPlanChangeHistory
      parameters:
      - description: Subscription Id
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      - description: Type of items to return
        explode: true
        in: query
        name: scope
        required: false
        schema:
          enum:
          - base_plan
          - add_on
          type: string
        style: form
      - description: Sort Order for the results
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - increasing
          - decreasing
          type: string
        style: form
      responses:
        "200":
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
          description: ""
          x-do-not-generate: true
      summary: Get subscription plan change history
      tags:
      - Subscriptions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--subscriptions-subscription_id-history
      x-accepts: application/json
  /quotes/{id}:
    delete:
      operationId: Quotes_deleteQuoteById
      parameters:
      - description: A unique identifier for the quote
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: OK
      summary: Delete a quote
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--quotes-id
      x-accepts: '*/*'
    get:
      operationId: Quotes_getById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: OK
      summary: Get a quote
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--quotes-id
      x-accepts: '*/*'
    put:
      operationId: Quotes_updateQuoteById
      parameters:
      - description: A unique identifier for the quote
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotesUpdateQuoteByIdRequest'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: OK
      summary: Update a quote
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--quotes-id
      x-content-type: application/json
      x-accepts: '*/*'
  /quotes/{id}/cancel:
    post:
      operationId: Quotes_cancelQuoteById
      parameters:
      - description: A unique identifier for the quote
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: OK
      summary: Cancel a quote
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--quotes-id-cancel
      x-accepts: '*/*'
  /quotes:
    get:
      operationId: Quotes_getAllQuotes
      parameters:
      - description: The format must be YYYY-MM-DD
        explode: true
        in: query
        name: createdBegin
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The format must be YYYY-MM-DD
        explode: true
        in: query
        name: createdEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: createdEmail
        required: false
        schema:
          type: string
        style: form
      - description: The format must be YYYY-MM-DD
        explode: true
        in: query
        name: expiresBegin
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The format must be YYYY-MM-DD
        explode: true
        in: query
        name: expiresEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: searchParam
        required: false
        schema:
          type: string
        style: form
      - description: The format must be YYYY-MM-DD
        explode: true
        in: query
        name: expiredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: onlyQuoteId
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollectionModelQuoteResponse'
          description: OK
      summary: Get all quotes
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--quotes
      x-accepts: '*/*'
    post:
      operationId: Quotes_createNewQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: OK
      summary: Create a quote
      tags:
      - Quotes
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--quotes
      x-content-type: application/json
      x-accepts: application/json
  /webhooks/keys:
    post:
      operationId: Webhooks_updateWebhookKeySecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecretRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecretResponse'
          description: Successful key rotation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecret400Response'
          description: Bad request due to validation errors
          x-do-not-generate: true
      summary: Update a webhook key secret
      tags:
      - Webhooks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--webhooks-keys
      x-content-type: application/json
      x-accepts: application/json
  /data/v1/subscription:
    post:
      deprecated: false
      operationId: Data_generateSubscriptionReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSubscriptionReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataGenerateSubscriptionReportResponse'
          description: Subscription response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSubscriptionResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Generates a subscription report
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--data-v1-subscription
      x-content-type: application/json
      x-accepts: application/json
  /data/v1/revenue:
    post:
      deprecated: false
      operationId: Data_generateRevenueReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRevenueReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataGenerateRevenueReportResponse'
          description: Revenue response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRevenueResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Generates a revenue report
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--data-v1-revenue
      x-content-type: application/json
      x-accepts: application/json
  /data/v1/jobs/{id}:
    get:
      operationId: Data_getJobInformation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobIdResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Get job information based on a job ID.
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--data-v1-jobs-id
      x-accepts: application/json
  /data/v1/jobs:
    get:
      operationId: Data_getJobInformation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobsResponse'
          description: OK
      summary: Get information from a job listing.
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--data-v1-jobs
      x-accepts: application/json
  /data/v1/util/cache:
    get:
      operationId: Data_resetCacheForServiceEndPoints
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DataResetCacheForServiceEndPointsResponse'
          description: OK
      summary: Reset cache for data service end points.
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--data-v1-util-cache
      x-accepts: text/plain
  /data/v1/downloads/{id}:
    get:
      operationId: Data_downloadReportById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DataDownloadReportByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDownloadIdResponseBad'
          description: ""
          x-do-not-generate: true
      summary: Download a report based on job ID.
      tags:
      - Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--data-v1-downloads-id
      x-accepts: application/json
components:
  schemas:
    DeleteProductsResponse:
      example:
        products:
        - action: products.delete
          result: success
          product: deletion-test-2
      title: DeleteProductsResponse
      x-konfig-original-example:
        products:
        - action: products.delete
          result: success
          product: deletion-test-2
      x-konfig-is-used-in-successful-response: true
    DeleteProductsResponseBad:
      example:
        products:
        - action: products.delete
          product: deletion-test
          result: error
          error:
            product: Not found
      title: DeleteProductsResponseBad
      x-konfig-original-example:
        products:
        - action: products.delete
          product: deletion-test
          result: error
          error:
            product: Not found
      x-konfig-is-used-in-non-successful-response: true
    PostSessionsResponse:
      example:
        id: FnE_y0t9R_WF5b2W0DI72Q
        currency: USD
        expires: 1490109872476
        order: null
        account: uKj7izONRfanVwBL9eiG_A
        subtotal: 9.95
        items:
        - product: example-product-1
          quantity: 1
      title: PostSessionsResponse
      x-konfig-original-example:
        id: FnE_y0t9R_WF5b2W0DI72Q
        currency: USD
        expires: 1490109872476
        account: uKj7izONRfanVwBL9eiG_A
        subtotal: 9.95
        items:
        - product: example-product-1
          quantity: 1
      x-konfig-is-used-in-successful-response: true
    PostSessionsResponseBad:
      example:
        message: Can not parse request body.
        params: []
      title: PostSessionsResponseBad
      x-konfig-original-example:
        message: Can not parse request body.
        params: []
      x-konfig-is-used-in-non-successful-response: true
    GenerateSubscriptionReportRequest:
      example:
        filter:
          startDate: 2022-06-21T00:00:00.000Z
          endDate: 2022-06-21T00:00:00.000Z
          syncDate: 2022-01-01T00:00:00.000Z
          countryISO:
          - CO
          - VE
          productNames:
          - primary subscription (addon-subscription)
          productPaths:
          - primary subscription (addon-subscription)
          segments:
          - demographic
        reportColumns:
        - activations
        - arr
        - average_mrr
        - buyer_email
        - buyer_id
        - cancellations
        - chargeback_true_false
        - churn_type
        - company_id
        - company_name
        - country_iso
        - country_name
        - coupon
        - customer_churn
        - discount
        - driving_offer_type
        - driving_product_path
        - item_id
        - lifetime_value
        - mrr
        - mrr_decrease
        - mrr_downgrade
        - mrr_growth_rate
        - mrr_increase
        - mrr_paused
        - mrr_resumed
        - mrr_upgrade
        - new_subscribers
        - occurred_date
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - revenue_churn
        - segment
        - store_id
        - store_name
        - subscriber_loss
        - subscribers
        - subscription_id
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - subscriptions
        - sync_date
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_month
        - transaction_time_utc
        - transaction_year
        groupBy:
        - buyer_email
        - buyer_id
        - chargeback_true_false
        - company_id
        - company_name
        - country_iso
        - country_name
        - coupon
        - discount
        - driving_offer_type
        - driving_product_path
        - item_id
        - occurred_date
        - order_id
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - store_id
        - store_name
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - sync_date
        - transaction_currency
        - transaction_date
        - transaction_month
        - transaction_year
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
        - any@fastspring.com
      properties:
        filter:
          $ref: '#/components/schemas/FilterSubscriptionReportRequest'
        reportColumns:
          items:
            type: string
          type: array
        groupBy:
          items:
            type: string
          type: array
        pageCount:
          example: 30
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateSubscriptionReportRequest-properties-pageCount
        pageNumber:
          example: 0
          format: int32
          minimum: 0
          type: integer
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateSubscriptionReportRequest-properties-pageNumber
        async:
          example: false
          type: boolean
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateSubscriptionReportRequest-properties-async
        notificationEmails:
          items:
            type: string
          type: array
      title: GenerateSubscriptionReportRequest
      type: object
      x-konfig-original-example:
        filter:
          startDate: 2022-06-21T00:00:00.000Z
          endDate: 2022-06-21T00:00:00.000Z
          syncDate: 2022-01-01T00:00:00.000Z
          countryISO:
          - CO
          - VE
          productNames:
          - primary subscription (addon-subscription)
          productPaths:
          - primary subscription (addon-subscription)
          segments:
          - demographic
        reportColumns:
        - activations
        - arr
        - average_mrr
        - buyer_email
        - buyer_id
        - cancellations
        - chargeback_true_false
        - churn_type
        - company_id
        - company_name
        - country_iso
        - country_name
        - coupon
        - customer_churn
        - discount
        - driving_offer_type
        - driving_product_path
        - item_id
        - lifetime_value
        - mrr
        - mrr_decrease
        - mrr_downgrade
        - mrr_growth_rate
        - mrr_increase
        - mrr_paused
        - mrr_resumed
        - mrr_upgrade
        - new_subscribers
        - occurred_date
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - revenue_churn
        - segment
        - store_id
        - store_name
        - subscriber_loss
        - subscribers
        - subscription_id
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - subscriptions
        - sync_date
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_month
        - transaction_time_utc
        - transaction_year
        groupBy:
        - buyer_email
        - buyer_id
        - chargeback_true_false
        - company_id
        - company_name
        - country_iso
        - country_name
        - coupon
        - discount
        - driving_offer_type
        - driving_product_path
        - item_id
        - occurred_date
        - order_id
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - store_id
        - store_name
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - sync_date
        - transaction_currency
        - transaction_date
        - transaction_month
        - transaction_year
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
        - any@fastspring.com
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateSubscriptionReportRequest
    PostSubscriptionSyncResponse:
      example:
        report:
        - arr: 1080
          subscriptions: 1
          subscriber_loss: 0
          customer_churn: 0
          subscribers: 1
          mrr_growth_rate: 0
          new_subscribers: 0
          average_mrr: 90
          mrr: 90
          product_name: primary subscription (addon-subscription)
          occurred_date: 2022-06-21T00:00:00.000Z
          cancellations: 0
          revenue_churn: 0
          lifetime_value: 0
          mrr_decrease: 0
          mrr_increase: 0
          site_id: XhY8La7GTfs
          country_name: Uruguay
          activations: 0
        request:
          filter:
            startDate: 2022-06-21T00:00:00.000Z
            endtDate: 2022-06-21T00:00:00.000Z
            productNames:
            - primary subscription (addon-subscription)
            countryNames:
            - Uruguay
          reportColumns: null
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
          - any@fastspring.com
      title: PostSubscriptionSyncResponse
      x-konfig-original-example:
        report:
        - arr: 1080
          subscriptions: 1
          subscriber_loss: 0
          customer_churn: 0
          subscribers: 1
          mrr_growth_rate: 0
          new_subscribers: 0
          average_mrr: 90
          mrr: 90
          product_name: primary subscription (addon-subscription)
          occurred_date: 2022-06-21T00:00:00.000Z
          cancellations: 0
          revenue_churn: 0
          lifetime_value: 0
          mrr_decrease: 0
          mrr_increase: 0
          site_id: XhY8La7GTfs
          country_name: Uruguay
          activations: 0
        request:
          filter:
            startDate: 2022-06-21T00:00:00.000Z
            endtDate: 2022-06-21T00:00:00.000Z
            productNames:
            - primary subscription (addon-subscription)
            countryNames:
            - Uruguay
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
          - any@fastspring.com
    PostSubscriptionAsyncResponse:
      example:
        id: JOBAZXRDGMSYZDNZELLVJIY7GBTHM
        name: SubscriptionReport
        status: PROCESSING
        request:
          filter:
            startDate: 2022-04-01T00:00:00.000Z
            endDate: 2022-08-28T00:00:00.000Z
            productNames:
            - primary subscription (addon-subscription)
            countryNames:
            - Uruguay
          reportColumns:
          - arr
          - subscriptions
          - subscriber_loss
          - mrr_add_on
          - product_name
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
          - any@fastspring.com
      title: PostSubscriptionAsyncResponse
      x-konfig-original-example:
        id: JOBAZXRDGMSYZDNZELLVJIY7GBTHM
        name: SubscriptionReport
        status: PROCESSING
        request:
          filter:
            startDate: 2022-04-01T00:00:00.000Z
            endDate: 2022-08-28T00:00:00.000Z
            productNames:
            - primary subscription (addon-subscription)
            countryNames:
            - Uruguay
          reportColumns:
          - arr
          - subscriptions
          - subscriber_loss
          - mrr_add_on
          - product_name
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
          - any@fastspring.com
    PostSubscriptionResponseBad:
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQ
        message: Invalid sql
        details: null
        errors: []
      title: PostSubscriptionResponseBad
      x-konfig-original-example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQ
        message: Invalid sql
        errors: []
      x-konfig-is-used-in-non-successful-response: true
    GenerateRevenueReportRequest:
      example:
        filter:
          startDate: 2022-06-21T00:00:00.000Z
          endDate: 2022-06-21T00:00:00.000Z
          countryISO:
          - CO
          productNames:
          - toxin product (toxin-product)
          productPaths:
          - toxin-product
          segments:
          - demographic
          syncDate: 2022-01-01T00:00:00.000Z
        reportColumns:
        - buyer_id
        - buyer_email
        - chargeback_true_false
        - company_id
        - company_name
        - country_iso
        - country_name
        - countryiso
        - coupon
        - digital_backup_fulfillment_fee
        - digital_backup_fulfillment_fee_in_usd
        - digital_fulfillment_fee
        - digital_fulfillment_fee_in_usd
        - discount
        - driving_offer_type
        - driving_product_path
        - end_date
        - enddate
        - fixed_fee
        - fixed_fee_in_usd
        - grand_total_in_usd
        - income
        - income_in_usd
        - item_id
        - order_count
        - order_id
        - physical_backup_fulfillment_fee
        - physical_backup_fulfillment_fee_in_usd
        - product_count
        - product_display_name
        - product_id
        - product_name
        - product_path
        - product_units
        - productpath
        - purchase_type
        - return_fee
        - return_fee_in_usd
        - return_true_false
        - segment
        - start_date
        - startdate
        - store_chargeback_fee
        - store_id
        - store_name
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - syncdate
        - tax
        - tax_fee
        - tax_fee_in_usd
        - tax_in_usd
        - transaction_amount
        - transaction_amount_in_usd
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_fee
        - transaction_fee_in_usd
        - transaction_item_count
        - transaction_month
        - transaction_rate
        - transaction_time_utc
        - transaction_year
        groupBy:
        - buyer_email
        - buyer_id
        - chargeback_true_false
        - company_id
        - country_iso
        - company_name
        - country_name
        - coupon
        - discount
        - driving_offer_type
        - driving_product_path
        - end_date
        - item_id
        - order_id
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - segment
        - start_date
        - store_id
        - store_name
        - subscription_period
        - subscription_status
        - subscription_true_false
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_month
        - transaction_year
        - countryiso
        - enddate
        - productpath
        - startdate
        - syncdate
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
        - any@fastspring.com
      properties:
        filter:
          $ref: '#/components/schemas/FilterRevenueReportRequest'
        reportColumns:
          items:
            type: string
          type: array
        groupBy:
          items:
            type: string
          type: array
        pageCount:
          example: 30
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateRevenueReportRequest-properties-pageCount
        pageNumber:
          example: 0
          format: int32
          minimum: 0
          type: integer
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateRevenueReportRequest-properties-pageNumber
        async:
          example: false
          type: boolean
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateRevenueReportRequest-properties-async
        notificationEmails:
          items:
            type: string
          type: array
      title: GenerateRevenueReportRequest
      type: object
      x-konfig-original-example:
        filter:
          startDate: 2022-06-21T00:00:00.000Z
          endDate: 2022-06-21T00:00:00.000Z
          countryISO:
          - CO
          productNames:
          - toxin product (toxin-product)
          productPaths:
          - toxin-product
          segments:
          - demographic
          syncDate: 2022-01-01T00:00:00.000Z
        reportColumns:
        - buyer_id
        - buyer_email
        - chargeback_true_false
        - company_id
        - company_name
        - country_iso
        - country_name
        - countryiso
        - coupon
        - digital_backup_fulfillment_fee
        - digital_backup_fulfillment_fee_in_usd
        - digital_fulfillment_fee
        - digital_fulfillment_fee_in_usd
        - discount
        - driving_offer_type
        - driving_product_path
        - end_date
        - enddate
        - fixed_fee
        - fixed_fee_in_usd
        - grand_total_in_usd
        - income
        - income_in_usd
        - item_id
        - order_count
        - order_id
        - physical_backup_fulfillment_fee
        - physical_backup_fulfillment_fee_in_usd
        - product_count
        - product_display_name
        - product_id
        - product_name
        - product_path
        - product_units
        - productpath
        - purchase_type
        - return_fee
        - return_fee_in_usd
        - return_true_false
        - segment
        - start_date
        - startdate
        - store_chargeback_fee
        - store_id
        - store_name
        - subscription_period
        - subscription_period_end
        - subscription_period_start
        - subscription_start_date
        - subscription_status
        - subscription_true_false
        - syncdate
        - tax
        - tax_fee
        - tax_fee_in_usd
        - tax_in_usd
        - transaction_amount
        - transaction_amount_in_usd
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_fee
        - transaction_fee_in_usd
        - transaction_item_count
        - transaction_month
        - transaction_rate
        - transaction_time_utc
        - transaction_year
        groupBy:
        - buyer_email
        - buyer_id
        - chargeback_true_false
        - company_id
        - country_iso
        - company_name
        - country_name
        - coupon
        - discount
        - driving_offer_type
        - driving_product_path
        - end_date
        - item_id
        - order_id
        - product_display_name
        - product_id
        - product_name
        - product_path
        - purchase_type
        - return_true_false
        - segment
        - start_date
        - store_id
        - store_name
        - subscription_period
        - subscription_status
        - subscription_true_false
        - transaction_currency
        - transaction_date
        - transaction_day
        - transaction_month
        - transaction_year
        - countryiso
        - enddate
        - productpath
        - startdate
        - syncdate
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
        - any@fastspring.com
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-GenerateRevenueReportRequest
    PostRevenueSyncResponse:
      example:
        report:
        - coupon: 10OFF
          company_name: FastSpring QA
          country_name: Colombia
          country_iso: CO
          return_true_false: false
        request:
          filter:
            startDate: 2022-01-01T00:00:00.000Z
            endtDate: 2022-01-11T00:00:00.000Z
            syncDate: 2022-01-01T00:00:00.000Z
            productNames:
            - toxin product (toxin-product)
            productPaths:
            - toxin-product
            countryISO:
            - CO
          reportColumns:
          - Company_Name
          - Country_ISO
          - Country_Name
          - Coupon
          groupBy:
          - Company_Name
          - Country_ISO
          - Country_Name
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
          - any@fastspring.com
      title: PostRevenueSyncResponse
      x-konfig-original-example:
        report:
        - coupon: 10OFF
          company_name: FastSpring QA
          country_name: Colombia
          country_iso: CO
          return_true_false: false
        request:
          filter:
            startDate: 2022-01-01T00:00:00.000Z
            endtDate: 2022-01-11T00:00:00.000Z
            syncDate: 2022-01-01T00:00:00.000Z
            productNames:
            - toxin product (toxin-product)
            productPaths:
            - toxin-product
            countryISO:
            - CO
          reportColumns:
          - Company_Name
          - Country_ISO
          - Country_Name
          - Coupon
          groupBy:
          - Company_Name
          - Country_ISO
          - Country_Name
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
          - any@fastspring.com
    PostRevenueAsyncResponse:
      example:
        id: JOBAKP3KVAHPFHMVMSPHFRS7OWJCI
        name: RevenueReport
        status: PROCESSING
        request:
          filter:
            startDate: 2020-01-01T00:00:00.000Z
            endDate: 2020-01-11T00:00:00.000Z
            syncDate: 2022-01-01T00:00:00.000Z
            productNames:
            - toxin product (toxin-product)
            productPaths:
            - toxin-product
            countryISO:
            - CO
          groupBy:
          - Company_Name
          - Country_ISO
          - Country_Name
          reportColumns:
          - Company_Name
          - Country_ISO
          - Country_Name
          - Coupon
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
          - any@fastspring.com
      title: PostRevenueAsyncResponse
      x-konfig-original-example:
        id: JOBAKP3KVAHPFHMVMSPHFRS7OWJCI
        name: RevenueReport
        status: PROCESSING
        request:
          filter:
            startDate: 2020-01-01T00:00:00.000Z
            endDate: 2020-01-11T00:00:00.000Z
            syncDate: 2022-01-01T00:00:00.000Z
            productNames:
            - toxin product (toxin-product)
            productPaths:
            - toxin-product
            countryISO:
            - CO
          groupBy:
          - Company_Name
          - Country_ISO
          - Country_Name
          reportColumns:
          - Company_Name
          - Country_ISO
          - Country_Name
          - Coupon
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
          - any@fastspring.com
    PostRevenueResponseBad:
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQX
        message: < fixed_fee_in_us > field is not valid
        details: null
        errors:
        - erroCode: invalid.field
          field: fixed_fee_in_us
          message: < fixed_fee_in_us > field is not valid
          rejectedValue: fixed_fee_in_us
      title: PostRevenueResponseBad
      x-konfig-original-example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQX
        message: < fixed_fee_in_us > field is not valid
        errors:
        - erroCode: invalid.field
          field: fixed_fee_in_us
          message: < fixed_fee_in_us > field is not valid
          rejectedValue: fixed_fee_in_us
      x-konfig-is-used-in-non-successful-response: true
    GetJobIdResponse:
      example:
        id: JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        status: COMPLETE
        name: RevenueReport
        created: 2022-09-08T12:11:01.000Z
        completeDate: 2022-09-08T12:12:35.000Z
        downloadUrl: https://api.fastspring.com/data/v1/downloads/JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        notificationEmails:
        - any@fastspring.com
      title: GetJobIdResponse
      x-konfig-original-example:
        id: JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        status: COMPLETE
        name: RevenueReport
        created: 2022-09-08T12:11:01.000Z
        completeDate: 2022-09-08T12:12:35.000Z
        downloadUrl: https://api.fastspring.com/data/v1/downloads/JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        notificationEmails:
        - any@fastspring.com
      x-konfig-is-used-in-successful-response: true
    GetJobIdResponseBad:
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FS2J43PGKSMNEG7LNV7AYLKPJND4
        message: Invalid JobId
        details: null
        errors:
        - erroCode: invalid
          field: jobId
          message: Invalid JobId
          rejectedValue: JOBZNCFWNVJOZGBFBGBFFFTMEUBP
      title: GetJobIdResponseBad
      x-konfig-original-example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FS2J43PGKSMNEG7LNV7AYLKPJND4
[...]
